@model LoginUtente

@using (Html.BeginForm())
{

        <div>
          @Html.LabelFor(model=>model.UserName)
            <div>
            @Html.EditorFor(model => model.UserName)
            </div>
        </div>

        <div>
        @Html.LabelFor(model=>model.Password)
            <div>
            @Html.EditorFor(model => model.Password)
            </div>
        </div>

       @if (Model.ShowError)
       {
         <p class="bg-danger">Credenziali errate</p>
       }

       <input type="submit" value="Save" />
}
